@model CheckoutViewModel
@{
    ViewBag.Title = "Order Checkout";
}

<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="row">

                            <div class="col-lg-7">
                                <h5 class="mb-3">
                                    <a class="text-body" asp-area="" asp-controller="Product" asp-action="All"><i class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a>
                                </h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Shopping cart</p>
                                        <p class="mb-0">You have @Model.UserCart.CartItems.Count() items in your cart</p>
                                    </div>
                                </div>

                                <form asp-action="UpdateCart" asp-controller="Cart" method="post">
                                    @if (Model.UserCart.CartItems is not null && Model.UserCart.CartItems.Count() > 0)
                                    {
                                        <div class="productList">
                                            @for (int i = 0; i < Model.UserCart.CartItems.Count(); i++)
                                            {
                                                <div class="card mb-3">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div>
                                                                    <img src="@Model.UserCart.CartItems[i].ImageUrl"
                                                                 class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                                </div>
                                                                <div class="ms-3">
                                                                    <h5>@Model.UserCart.CartItems[i].ProductName</h5>
                                                                    <p class="small mb-0">@Model.UserCart.CartItems[i].ProductCategory</p>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div style="width: 70px;">
                                                                    <h5>@Model.UserCart.CartItems[i].Quantity</h5>
                                                                </div>
                                                                <div style="width: 100px;">
                                                                    <h5 class="mb-0">@String.Format("{0:f2}", Model.UserCart.CartItems[i].Price) BGN/ per item</h5>
                                                                </div>
                                                                <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>

                                        <div class="priceContainer">
                                            <h3>Total: @Model.TotalPrice() BGN</h3>
                                        </div>                                     
                                    }
                                    else
                                    {
                                        <p>There are no products in the shopping cart yet!</p>
                                    }
                                </form>
                            </div>
                            <div class="col-lg-5">

                                <div class="card bg-primary text-white rounded-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="mb-0">Orders details</h5>
                                        </div>

                                        <form asp-action="Checkout" asp-controller="Order" method="post" class="mt-4">
                                            <div class="row mb-4">
                                                <div class="col-md-6">
                                                    <div class="form-outline form-white">
                                                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                                                        <input asp-for="FirstName" type="text" id="typeFirstName" class="form-control form-control-lg"
                                                               placeholder="FirstName" size="7" minlength="3" maxlength="25"/>
                                                        <label class="form-label" for="typeExp">FirstName</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-outline form-white">
                                                        <input asp-for="LastName" type="text" id="typeLastName" class="form-control form-control-lg"
                                                               placeholder="LastName" size="7" minlength="3" maxlength="25" />
                                                        <label class="form-label" for="typeText">LastName</label>
                                                    </div>
                                                </div>

                                                <div class="form-outline form-white mb-4">
                                                    <input asp-for="EmailAddress" type="text" id="typeEmail" class="form-control form-control-lg" siez="17"
                                                           placeholder="Email" />
                                                    <label class="form-label" for="typeName">Email</label>
                                                </div>

                                                <div class="form-outline form-white mb-4">
                                                    <input asp-for="StreetAddress" type="text" id="typeAddress" class="form-control form-control-lg" siez="17"
                                                           placeholder="Address" />
                                                    <label class="form-label" for="typeName">Address</label>
                                                </div>

                                                <div class="form-outline form-white mb-4">
                                                    <input asp-for="PhoneNumber" type="text" id="typePhoneNumber" class="form-control form-control-lg" siez="17"
                                                           placeholder="+359 88 888 8888" minlength="9" maxlength="16" />
                                                    <label class="form-label" for="typeText">Phone Number</label>
                                                </div>

                                                <div class="row mb-4">
                                                    <div class="col-md-6">
                                                        <div class="form-outline form-white">
                                                            <input asp-for="City" type="text" id="typeCity" class="form-control form-control-lg"
                                                                   placeholder="City" size="7" id="city" minlength="5" maxlength="20" />
                                                            <label class="form-label" for="typeCity">City</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-outline form-white">
                                                            <input asp-for="PostalCode" type="text" id="typePostCode" class="form-control form-control-lg"
                                                                   placeholder="1000" size="7" minlength="2" maxlength="6" />
                                                            <label class="form-label" for="typePostCode">Post Code</label>
                                                        </div>
                                                    </div>
                                                </div>
                                        </form>

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Subtotal</p>
                                            <p class="mb-2">@Model.TotalPrice() BGN</p>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Shipping</p>
                                            <p class="mb-2">Free</p>
                                        </div>

                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Total(Incl. taxes)</p>
                                            <p class="mb-2">@Model.TotalPrice() BGN</p>
                                        </div>
                                         <button type="button" class="btn btn-info btn-block btn-lg">
                                            <div class="d-flex justify-content-between">
                                                <span>@Model.TotalPrice() BGN</span>
                                                <button type="submit" class="btn btn-info">Place Order</button>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}