@model IEnumerable<ProductHomePageModel>
@{
    ViewData["Title"] = "Home Page";
    bool first = true;
}

<header class="bg-secondary py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Burger Mania</h1>
                    <p class="lead fw-normal text-white-50 mb-4">
                        Come and join us for lunch or dinner
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" asp-area="" asp-controller="Product" asp-action="All">Get Started</a>  
                        @*<a class="btn btn-outline-light btn-lg px-4" asp-area="" asp-controller="Product" asp-action="Details"> Learn More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (var product in Model)
                        {
                            <div class="carousel-item @(first ? "active" : string.Empty)">

                                <img class="d-block w-100" style="height:500px"
                                 src="@product.ImageUrl" alt="@product.Name">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>
                                        <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Details"
                                       asp-route-id="@product.Id"> @product.Name</a>
                                    </h5>
                                </div>
                            </div>

                            first = false;
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
    <div class="fw-bolder" style="margin-top: 90px">
        <h2 class="text-center">
            What we do is simple -
            We make burgers. Gourmet burgers!
        </h2>
    </div>